.body{
  background-color: black;

}
.image1{
  position: absolute;
  top: 90px;
  left: 0px;
  right: 0px;
  margin: auto;

}
.explication{
  position: absolute;
  top: 550px;
  right: 100px;
  left: 100px;
  font-size: 40px ;
  background-color: white;
}
