/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 oct. 2021, 14:49:09
    Author     : CROULLEAUX
*/body{background-color: black}
.tableau{
    position: absolute;
    left:0;
    right:0;
    margin: auto;
}
.ligne1{
    color: white;
    text-align: center;
    height: 150px;
    border: 2px white solid;
}
.milieu{
    width: 800px;
}
.ligne2{
    color: white;
    text-align: center;
    height: 150px;
}
.miniexplication{
    font font-size: 45px;
    color: white;

}
.mail{
    color: white;
    position: absolute;
     bottom: 100;
}
